{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": ["off"],
    "react/display-name": ["off"],
    "react/no-unescaped-entities": ["off"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": [
      "warn",
      { "allow": ["clear", "info", "error", "dir", "trace"] }
    ],
    "curly": "error",
    "no-else-return": "error",
    "no-unneeded-ternary": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "eqeqeq": "error",
    "dot-notation": "error",
    "react/destructuring-assignment": ["off"],
    "react/jsx-pascal-case": "error",
    "react/jsx-no-useless-fragment": "error",
    "react/jsx-key": "error",
    "react/self-closing-comp": "error",
    "react/jsx-curly-brace-presence": "error",
    "prefer-arrow-callback": "error",
    "strict": "error",
    "symbol-description": "error",
    "yoda": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "@typescript-eslint/no-var-requires": ["off"]
  }
}
